@model IEnumerable<Data.Category>

@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

<p>
    @Html.ActionLink("New Category", "Create")
</p>

@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "CategoryList"

}))
{
    <input type="text" name="Criterion" />
    <input type="submit" value="Search" id="Search" />

}
@Html.Partial("CategoryParcial")




