@model IEnumerable<Data.Products>

@{
    ViewBag.Title = "Index";
}


<h2>Products List</h2>


@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "MainProductsList"

}))
{
    <div class="btn_searchMain">
        <input type="text" name="Criterion" placeholder="Search Product Category" />
        <span class="glyphicon glyphicon-search , position"></span>
        <input type="submit" class="btn btn-success" value="Search" id="Search" />
    </div>


}
@Html.Partial("BillingParcial")
