.client{
    margin-top: -41%;
    margin-left:-370%;
}
.emplo{
    margin-top: -40%;
    margin-left:-285%;
    margin-bottom: 20%;
}

.prod{
    float:right;
    margin-top: 1%;
    margin-right: 180%;

}
.suplier{
    margin-top: 16%;
    margin-left:-67%;
}

.btn_search {
    margin-left: 58%;
    float:right;
    margin-bottom: 5%;
    margin-top: -7%;
}

.btn_searchMain {
    margin-left: 58%;
    float:right;
    margin-bottom: 5%;
    margin-top: 5%;
}

.btn-custom {
    background-color: hsl(195, 99%, 62%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#85e0fe", endColorstr="#3ecefe");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#85e0fe), to(#3ecefe));
    background-image: -moz-linear-gradient(top, #85e0fe, #3ecefe);
    background-image: -ms-linear-gradient(top, #85e0fe, #3ecefe);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #85e0fe), color-stop(100%, #3ecefe));
    background-image: -webkit-linear-gradient(top, #85e0fe, #3ecefe);
    background-image: -o-linear-gradient(top, #85e0fe, #3ecefe);
    background-image: linear-gradient(#85e0fe, #3ecefe);
    border-color: #3ecefe #3ecefe hsl(195, 99%, 58.5%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.23);
    -webkit-font-smoothing: antialiased;
    border-bottom-width:thick;
}

.img-library{
    background-color: rgba(199, 209, 214, 0.91);   
}

.library{
    margin-left:18%;
    margin-top:8%;
}
.dropdown-menu:hover{
    color: #1193c3; 
    text-decoration: none;
    background-color:hsl(195, 99%, 62%);
}

.degra{
    background: rgb(167,207,223); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 } 

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;   
    color:white;
    outline: none;
    text-decoration: none;
    font-family:'Bernard MT';
    font-size:1.2em;
 
}

.btn-default{
    border-radius:8px;
    color:blue;
    font-family:'Bernard MT';
    font-size:1.3em;
}

.required, .texRequired{
    color: #f60909;
    font-size: 1.7em;
    display:inline-block;    
}

.texRequired {
    font-size: 1.2em;
    white-space: inherit;
    margin-bottom: 2%;
    margin-top: 2%;
}

/**********************btnCreate**************************/
.btnCreate /*css de imagen para el btn add client*/
{
     text-decoration: none;
     display: block;
     width: 48px;
     height: 48px;
     background: url(../Images/add_client.png);
     text-indent: -9999px;
}

.btnCreateEm { /*css de imagen para el btn add employee*/
     text-decoration: none;
     display: block;
     width: 48px;
     height: 48px;
     background: url(../Images/add_employee.png);
     text-indent: -9999px;
}

.btnCreatePro { /*css de imagen para el btn add product*/
     text-decoration: none;
     display: block;
     width: 48px;
     height: 48px;
     background: url(../Images/add_product.png);
     text-indent: -9999px;
}

.btnCreateSup { /*css de imagen para el btn add supplier*/
     text-decoration: none;
     display: block;
     width: 48px;
     height: 48px;
     background: url(../Images/add_supplier.png);
     text-indent: -9999px;
}

.btnCreateBra { /*css de imagen para el btn add brand*/
     text-decoration: none;
     display: block;
     width: 48px;
     height: 48px;
     background: url(../Images/add_brand.png);
     text-indent: -9999px;
}

.btnCreateCat { /*css de imagen para el btn add category*/
     text-decoration: none;
     display: block;
     width: 32px;
     height: 32px;
     background: url(../Images/add_category.png);
     text-indent: -9999px;
}
/**********************btnCreate**************************/

/**********************btnEdit**************************/
.btnEdit { /*css para el btn edit de las tablas en las pestañas index*/
     text-decoration: none;
     display: inline-block;
     width: 32px;
     height: 32px;
     background: url(../Images/edit.png);
     text-indent: -9999px;
     margin-right: 27px;
     margin-left:-39%;
}

.btnEdit2 { /*css para el btn edit que esta dentro de las paginas de detail*/
     text-decoration: none;
     display: inline-block;
     width: 32px;
     height: 32px;
     background: url(../Images/edit.png);
     text-indent: -9999px;
}
/**********************btnEdit**************************/

/**********************btnDetail**************************/
.btnDetail {
     text-decoration: none;
     display: inline-block;
     width: 32px;
     height: 32px;
     background: url(../Images/detail.png);
     text-indent: -9999px;
     margin-right: 30px;
}
/**********************btnDetail**************************/

/**********************btnDelete**************************/
.btnDelete {
     text-decoration: none;
     display: inline-block;
     width: 32px;
     height: 32px;
     background: url(../Images/delete.png);
     text-indent: -9999px;
}
/**********************btnDelete**************************/

/**********************Label**************************/
.labelCreate { /*css para el nombre del boton create client*/
    float:left;
    margin-top: -1%;
    margin-left: -1.5%;
}

.labelCreateEm{ /*css para el nombre del boton create employee*/
    float:left;
    margin-top: -1%;
    margin-left: -2.5%;
}

.labelCreatePro { /*css para el nombre del boton create product*/
    float:left;
    margin-top: -1%;
    margin-left: -2.3%;
}

.labelCreateSup{ /*css para el nombre del boton create supplier*/
    float:left;
    margin-top: -1%;
    margin-left: -2.3%;
}

.labelCreateBra { /*css para el nombre del boton create brand*/
    float:left;
    margin-top: -1%;
    margin-left: -1.5%;
}

.labelCreateCat { /*css para el nombre del boton create category*/
    float:left;
    margin-top: -1%;
    margin-left: -2.5%;
}

.labelOptions { /*css para el nombre de los botones edit, detail, delete de products, employee, suppliers, client*/
    margin-top: 2%;
    margin-left: -80px;
    white-space: pre;
}

.labelOptions2 { /*css para el nombre de los botones edit, detail, delete de brand y category*/
    margin-top: 2%;
    margin-left: -200px;
    white-space: pre;
}
/**********************Label**************************/

.btnDiv {  /*css para el div del boton create*/
    margin-left: 5%;
    margin-bottom: 8%;
}

input {
    border-color: rgba(35,83,138,1);
    border-width: 1px;
    border-radius: 6%;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
    border-color: rgb(27, 84, 148);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgb(27, 84, 148);
    outline: 0 none;
}

.position {  /*css para el glyphs de la barra de busqueda*/
    float:inherit;
    margin-right: 26%;
    margin-top: -7%;
    color:#1193c3;
}

/********************btn Back*************************/
.btnBack {
     text-decoration: none;
     display: block;
     width: 48px;
     height: 48px;
     background: url(../Images/back.png);
     text-indent: -9999px;
}

.btnPosition { /*posicion de btn create y btn edit*/
    float:right;
    margin-right: 85%;
}

.btnBackPosition {
     float: left;
     margin-top: -5%;
}

.btnBackPosition2 {
     float: left;
     margin-top: -1%;
}

.btnEdit2 { /*css del btn de edotar dentro de details*/
    float: left;
    margin-top: -7.2%;
    margin-left: 10%;
}
/********************btn Back*************************/

.labelBack {
    margin-left: 20%;
}

.labelBack2 {
    margin-left: 1%;
}

.labelEdit {
    margin-left: 10%;
    margin-top: -2.1%;
    float: left;
}