@model Data.Brand

@{
    ViewBag.Title = "Delete Brand";
}

<h2>Delete Brand</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Brand</legend>

    <table class="table table-bordered">
        <tr>
            <th>
                Name
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
    </table>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="btnBackPosition2">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btnBack" })
    <div class="labelBack"><b>Back</b></div>
        
    </div>
    <p>        
        <div class="btnPosition"><input type="submit" value="Delete" class="btn btn-danger" /></div>
    </p>
}
