@model IEnumerable<Data.Brand>

@{
    ViewBag.Title = "Brand";
}

<h2>Brand</h2>
<div class="btnDiv">
    <p>
        @Html.ActionLink("New Brand", "Create", null, new { @class = "btnCreateBra" })
    </p>
    <div class="labelCreateBra"><b>Add Brand</b></div>
</div>


@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "BrandList"

}))
{
    <div class="btn_search">
        <input type="text" name="Criterion" placeholder="Search Brand Name" />
        <span class="glyphicon glyphicon-search , position"></span>
        <input type="submit" class="btn btn-success" value="Search" id="Search" />
    </div>
}
@Html.Partial("BrandParcial")

