@model IEnumerable<Data3.Brand>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "BrandList"

}))
{
    <input type="text" name="Criterion" />
    <input type="submit" value="Search" id="Search" />

}
@Html.Partial("BrandParcial")




