@model IEnumerable<Data.Employee>

@{
    ViewBag.Title = "Employee";
}

<h2>Employee</h2>

<p>
    @Html.ActionLink("New Employee", "Create")
</p>

@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "EmployeeList"

}))
{
    <div class="btn_search">
        <input type="text" name="Criterion" placeholder="Search Employee Name" />
        <input type="submit" class="btn btn-success" value="Search" id="Search" />
    </div>
    

}
@Html.Partial("EmployeeParcial")

