@model IEnumerable<Data.Client>

@{
    ViewBag.Title = "Client";
}

<h2>Client</h2>
<div class="btnDiv">
    <p>
        @Html.ActionLink("New Client", "Create", null, new { @class = "btnCreate" })
    </p>
    <div class="labelCreate"><b>Add Client</b></div>
</div>

@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ClientList"

}))
{
    <div class="btn_search">
        <input type="text" name="Criterion" placeholder="Search Client Name" />
        <span class="glyphicon glyphicon-search , position"></span>
        <input type="submit" class="btn btn-success" value="Search" id="Search" />
    </div>    

}
@Html.Partial("ClientParcial")
