@model IEnumerable<Data.Client>

@{
    ViewBag.Title = "Client";
}

<h2>Client</h2>

<p>
    @Html.ActionLink("New Client", "Create")
</p>

@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ClientList"

}))
{
    <div class="btn_search">
        <input type="text" name="Criterion" placeholder="Search Client Name" />
        <input type="submit" class="btn btn-success" value="Search" id="Search" />
    </div>
    

}
@Html.Partial("ClientParcial")


