@model IEnumerable<Data3.Client>

@{
    ViewBag.Title = "Client";
}

<h2>Client</h2>

<p>
    @Html.ActionLink("New Client", "Create")
</p>

@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "ClientList"

}))
{
    <input type="text" name="Criterion" />
    <input type="submit" value="Search" id="Search" />

}
@Html.Partial("ClientParcial")


