@model IEnumerable<Data.Bill>

@{
    ViewBag.Title = "Bill";
}

<h2>Bill</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "BillList"

}))
{
    <input type="text" name="Criterion" />
    <input type="submit" value="Search" id="Search" />

}
@Html.Partial("BillParcial")


