@model IEnumerable<Data.Bill>

@{
    ViewBag.Title = "Bill";
}

<h2>Bill</h2>

<div class="btnDiv">
    <p>
        @Html.ActionLink("New Bill", "Create", null, new { @class = "btnCreateBill" })
    </p>
    <div class="labelCreateBill"><b>Add Bill</b></div>
</div>
@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "BillList"

}))
{
    <div class="btn_search">
        <input type="text" name="Criterion" placeholder="Search Bill" />
        <span class="glyphicon glyphicon-search , position"></span>
        <input type="submit" class="btn btn-success" value="Search" id="Search" />
    </div>

}
@Html.Partial("BillParcial")


