@model IEnumerable<Data.WarehouseProducts>

@{
    ViewBag.Title = "Warehouse Products";
}

<h2>Warehouse Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "WarehouseProductsList"

}))
{
    <input type="text" name="Criterion" />
    <input type="submit" value="Search" id="Search" />

}
@Html.Partial("WarehouseProductsParcial")



