@model IEnumerable<Data.Suppliers>

@{
    ViewBag.Title = "Suppliers";
}

<h2>Suppliers</h2>

<div class="btnDiv">
    <p>
        @Html.ActionLink("New Supplier", "Create", null, new { @class = "btnCreateSup" })
    </p>
    <div class="labelCreateSup"><b>Add Supplier</b></div>
</div>

@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "SuppliersList"

}))
{
    <div class="btn_search">
        <input type="text" name="Criterion" placeholder="Search Supplier Name" />
        <span class="glyphicon glyphicon-search , position"></span>
        <input type="submit" class="btn btn-success" value="Search" id="Search" />
    </div>
    

}
@Html.Partial("SuppliersParcial")



