@model IEnumerable<Data.Suppliers>

@{
    ViewBag.Title = "Suppliers";
}

<h2>Suppliers</h2>

<p>
    @Html.ActionLink("New Supplier", "Create")
</p>

@using (Ajax.BeginForm(new AjaxOptions
{

    HttpMethod = "get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "SuppliersList"

}))
{
    <input type="text" name="Criterion" />
    <input type="submit" value="Search" id="Search" />

}
@Html.Partial("SuppliersParcial")



